<a href="https://colab.research.google.com/github/pamumeghana45-cell/python/blob/main/pandas_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# Create a Pandas Series from a list of data
data_list = pd.Series([10, 20, 30, 40, 50])

# Display the Series
print("Pandas Series created from a list:")
print(data_list)
# Convert the Series to a Python list
data_list = data_list.tolist()

# Display the list
print(data_list)

# Display the type of the new object
print("Type of the converted object:", type(data_list))

Pandas Series created from a list:
0    10
1    20
2    30
3    40
4    50
dtype: int64
[10, 20, 30, 40, 50]
Type of the converted object: <class 'list'>

In [2]:
# Program i: Create and display DataFrame
import pandas as pd
import numpy as np

# Sample data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily','Michael', 'Matthew',
             'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Create DataFrame
df = pd.DataFrame(exam_data, index=labels)

# Display DataFrame
print("DataFrame with index labels:")
print(df)

DataFrame with index labels:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [3]:
# Program ii: Change name 'James' to 'Suresh'
import pandas as pd
import numpy as np

# Sample data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily','Michael', 'Matthew',
             'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

# Replace 'James' with 'Suresh'
df['name'] = df['name'].replace('James', 'Suresh')

print("DataFrame after changing 'James' to 'Suresh':")
print(df)

DataFrame after changing 'James' to 'Suresh':
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [4]:
# Program iii: Insert new column
import pandas as pd
import numpy as np

# Sample data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily','Michael', 'Matthew',
             'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

# Insert new column 'age'
df['age'] = [20, 21, 19, 22, 20, 23, 21, 20, 22, 21]

print("DataFrame after inserting new column 'age':")
print(df)

DataFrame after inserting new column 'age':
        name  score  attempts qualify  age
a  Anastasia   12.5         1     yes   20
b       Dima    9.0         3      no   21
c  Katherine   16.5         2     yes   19
d      James    NaN         3      no   22
e      Emily    9.0         2      no   20
f    Michael   20.0         3     yes   23
g    Matthew   14.5         1     yes   21
h      Laura    NaN         1      no   20
i      Kevin    8.0         2      no   22
j      Jonas   19.0         1     yes   21

In [5]:
# Program iv: Get list of column headers
import pandas as pd
import numpy as np

# Sample data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily','Michael', 'Matthew',
             'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

# Get list of column headers
column_headers = df.columns.tolist()

print("List of column headers:")
print(column_headers)

List of column headers:
['name', 'score', 'attempts', 'qualify']

In [6]:
# Program v: Get list of index labels
import pandas as pd
import numpy as np

# Sample data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily','Michael', 'Matthew',
             'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

# Get list of index labels
index_labels = df.index.tolist()

print("List of index labels:")
print(index_labels)

List of index labels:
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']